@page
@model YiQiBang.Pages.HomeworkModel
@{
    ViewData["Title"] = "Homework";
 
}

<h1>Homework</h1>
@*声明一个自定义的TagHelper：DateTimeTagHelper，在Razor中使用*@
@*生成HTML标签：
    <small>2019年7月8日 14点59分</small>*@

<datetime path="" index="" asp-showicon="true" asp-only="date">@DateTime.Now</datetime>




@*可以添加属性：asp-showicon

    当asp-showicon="true"时，生成的HTML标签包含一个日历图标：
    <small><span class="glyphicon glyphicon-calendar"></span>2019年7月8日 14点59分</small>*@
@*<datetime asp-only="date">@DateTime.Now</datetime>*@
@*再添加属性：asp-only
    <datetime >@DateTime.Now</datetime>
        当时，生成的HTML标签只显示日期，不显示时间
        <small>2019年7月8日</small>*@