@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*i
      iii
     iiiii
    iiiiiii

    实现三角形的小蜡烛*@

<div style="text-align:center">
    @for (int i = 1; i < 6; i++)//几行
    {
        @for (int j = 1; j <= i * 2 - 1; j++)  //行里有几个
        {
            if (i % 2 == 0)
            {
                <small style="color:blue">i</small>
            }
            else
            {
                <small style="color:red">i</small>
            }
        }
        <br />
    }
</div>


@*新建 /Task/History/Month 页面，利用表格，输出按月按周组织的任意一个月份的日历。可参考：一起帮·任务历史月表*@

<table>
    <tr>
        <th>1</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
   <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
   </tr>
    
</table>