@page
@model YiQiBang.Pages.User.SingeModel
@{
    ViewData["Title"] = "一起帮·单页";
    Layout = "_Dual";
}

<div class="container">
    <div class="row">
        <section class="col-4">
            <h3><i class="fa fa-thumbs-o-up"></i>  应答</h3>
            <div style="padding:10px 10px 0 10px" class="yellowBg">
                <p><span class="text-info lead"><b>一起帮</b></span>，你帮我，我帮他，大家一起帮！</p>
                <p>有空的时候，试着<a href="/Problem">帮帮别人</a>吧。</p>
                <p>我们提倡直接联系求助人，通过QQ桌面共享，TeamViewer等工具，远程协助，直接了当的解决问题。</p>
                <p>不要害羞，不要宅，勇敢一点！“闻道有先后，术业有专攻”，你的领域，你就是大神。</p>
            </div>
        </section>
        <section class="col-5">
            <h3><i class="fa fa-question-circle"></i>求助</h3>
            <div class="yellowBg" style="padding:10px 10px 0 10px">
                <p>你还没有发布过任何求助。</p>
                <p>第一次求助发布后，我们的工作人员会帮你把把关，确保内容表述清晰准确。如有问题，工作人员会主动联系你的，请保证你的<a href="#">联系方式</a>准确畅通。</p>
                <p>第一次求助会有帮帮币奖励哟，来<a href="#">试试</a>吧！</p>
            </div>
        </section>
        <section class="col-3">
            <div class="yellowBg " style="padding:10px 10px 0 10px;line-height:30px;">
                <h4><i class="fa fa-list"></i>  新手任务</h4>
                <hr />
                <i class="fa fa-square-o" aria-hidden="true">  填写：<a href="#">联系方式</a></i>
                <i class="fa fa-square-o" aria-hidden="true">  激活：<a href="#">Emial</a></i>
                <i class="fa fa-square-o" aria-hidden="true">  邀请：<a href="#">我的小伙伴</a></i>
                <i class="fa fa-square-o" aria-hidden="true">  参加：<a href="#">新人测试</a></i>
                <i class="fa fa-square-o" aria-hidden="true">  发布：<a href="#">第一个求助</a></i>
                <i class="fa fa-square-o" aria-hidden="true">  尝试：<a href="#">第一次协助</a></i>
                <i class="fa fa-square-o" aria-hidden="true">  获得：<a href="#" class="text-warning">  <i class="fa fa-dollar"></i> 帮帮币</a></i>
            </div>
            <div style="padding:10px;line-height:30px;">
                <label class="font-weight-bold">头像：</label>
                <i class="fa fa-pencil-square-o text-primary"><a href="#">   修改</a></i><br />
                <lable class="font-weight-bold">用户：</lable>
                <a href="#">EDWIN</a><a href="#" class="text-secondary">①</a> <a href="#" class="ml-2"><i class="fa fa-pencil-square-o"></i>  修改</a><br />
                <lable class="font-weight-bold">性别：</lable>
                <span>男</span><br />
                <lable class="font-weight-bold">生日：</lable>
                <span>1996 年 6 月 巨蟹座</span><br />
                <lable class="font-weight-bold">关注：</lable><br />
                <lable class="font-weight-bold">自我介绍：</lable>
                <span>just do it</span>
            </div>

            <div class="yellowBg" style="padding:10px 10px 0 10px">
                <h4><i class="fa fa-eye"></i>  一起督促吧！</h4>
                <hr />
                <p>已发布目标：<a href="#" class="font-weight-bold lead">0</a>  个</p>
                <p>已督促目标：<a href="#" class="font-weight-bold lead">0</a>  个</p>


            </div>
        </section>
    </div>
</div>

