
@{
    ViewBag.Title = "Sale";
}
<h2>帮帮币装箱</h2>
<div class="yellowBg"style="width:300px;">
    <div>
        系统要求的最低出售门槛为：50枚
    </div>
    <div>
        目前，你的<span><a>帮帮币：</a></span>
    </div>
    <hr />
    <div>
        结余：<span></span>枚
        <hr />
        可出售：<span></span>枚
    </div>
    <div>对不起，你的可出售帮帮币数量不够……</div>
    <div>继续努力吧，(ง •_•)ง,加油！</div>
</div>